@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
body {
  // font-family: 'Quicksand', sans-serif;
  font-family: 'Koulen', cursive;
}
$red-marvel: #ed1d24;
.hero-container {
  height: 95vh;
  display: block;
  background-image: url('../assets/logo.jpg');

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.loading-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);

  .loading {
    border: 5px solid $red-marvel;
    animation: spin 1s linear infinite;
    border-top: 5px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home {
  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin-bottom: 100px;
    -webkit-box-shadow: 30px -5px 299px 29px $red-marvel;
    -moz-box-shadow: 30px -5px 299px 29px $red-marvel;
    box-shadow: 30px -5px 299px 29px $red-marvel;
  }
  &__p {
    padding: 20px;
    text-align: justify;
    text-justify: inter-word;
  }
  &__title {
    text-align: center;
  }

  &-button {
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-size: large;
    font-weight: bold;
    background-color: $red-marvel;
    min-width: 100px;
    max-width: 200px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
